<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.test.mapper.BookMapper">
    <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
    <resultMap id="BaseResultMap" type="org.test.entity.Book" autoMapping="true">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <!--    association 节点用来描述一对一的关系-->
    <resultMap id="BookWithAuthor" type="org.test.entity.Book" extends="BaseResultMap">
        <association property="author" javaType="org.test.entity.Author">
            <id column="aid" property="id"/>
            <result column="aname" property="name"/>
            <result column="aage" property="age"/>
        </association>
    </resultMap>
    <select id="getBookById" resultMap="BookWithAuthor">
        SELECT b.*,a.`age` AS aage,a.`id` AS aid,a.`name` AS aname
        FROM book b,author a
        WHERE b.`aid`=a.`id` AND b.`id`=#{id}
    </select>
<!--    懒加载-->
    <resultMap id="BookWithAuthor2" type="org.test.entity.Book" extends="BaseResultMap">
        <association property="author" javaType="org.test.entity.Author"
                     select="getAuthorById" column="aid" fetchType="lazy"/>
    </resultMap>
    <select id="getBookById2" resultType="org.test.entity.Book">
        select * from book where id=#{id};
    </select>
    <select id="getAuthorById" resultType="org.test.entity.Author">
        select * from author where id=#{aid};
    </select>
</mapper>        