<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db.properties"/>
    <settings>
        <!--二级缓存配置-->
        <setting name="cacheEnabled" value="false" />
        <!--开启主键自增-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--开启驼峰-->
        <!--autoMapping:完成子对象的自动映射，若开启驼峰，则按驼峰匹配-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--懒加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--aggressiveLazyLoading的属性为false，即每种属性按需加载，不调用就不加载-->
        <setting name="aggressiveLazyLoading" value="false"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="org.test.entity"/>
    </typeAliases>
    <typeHandlers>
        <package name="org.test.handler"/>
    </typeHandlers>
    <!--插件
    <plugins>
        <plugin interceptor="org.test.plugins.PageInterceptor"/>
    </plugins>
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.username}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
<!--        <mapper resource="mapper/UserMapper.xml"/>-->
<!--        <mapper resource="mapper/BookMapper.xml"/>-->
<!--        <mapper resource="mapper/CardMapper.xml"/>-->
<!--        <mapper resource="mapper/PersonMapper.xml"/>-->
        <package name="org.test.mapper"/>
    </mappers>

</configuration>
